<div>
  <mat-toolbar class="toolbar">
    <p>Actions Globales</p>

    <form class="form" (ngSubmit)="getStudent()">
      <mat-form-field class="search">
        <input type="text" placeholder="Trouvez un stagiaire"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
               [(ngModel)]="searchField">
        <button class="clear has-text-white" mat-button mat-icon-button matSuffix (click)="clearSearchField()" *ngIf="searchField">×</button>
       <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
           {{option}}
         </mat-option>
       </mat-autocomplete>
     </mat-form-field>
     <button class="button is-info has-text-white">
       <i class="fas fa-search"></i>
     </button>
   </form>
    <div class="buttons has-addons">
      <button class="button is-link" (click)="modifyTime()" [disabled]="disabled">Modifiez le temps</button>
      <button class="button is-success"(click)="modifyPresence()" [disabled]="disabled">Modifiez la présence</button>
      <button class="button" id="allButton" (click)="onAll()">Tout sélectionner</button>
    </div>
  </mat-toolbar>
  <h1>Liste des stagiaires</h1>
  <div>
    <div *ngFor="let s of shownStudents" class="student">
      <div class="student-info">
        <div>
          <i matListIcon class="fas fa-coffee"></i>
          <i matListIcon class="fas fa-check"></i>
          <i matListIcon class="fas fa-calendar-times"></i>
          <i matListIcon class="fas fa-calendar-check"></i>
        </div>
        <h1 matSubheader>{{s.firstname}} {{s.lastname}}</h1>
        <p *ngIf="s.performedTime>=0" style="color:green"> {{s.performedTime + " heure(s) supplémentaires"}} </p>
        <p *ngIf="s.performedTime<0" style="color:red"> {{s.performedTime + " heure(s) de retard"}} </p>
      </div>
      <mat-checkbox class="checkbox"
                    [(ngModel)]="s.isSelected"
                    (change)="onCheckBox()"></mat-checkbox>
    </div>

</div>
