.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.student {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: darkgrey;
  margin: 4px;
}
