.toolbar {
  display: flex;
  flex-direction: row;
}

.student {
  width: 100px;
  .studentContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
