<div *ngIf="message==0">
  <h1>Utilisateur inexistant</h1>
  <i class="fas fa-bug"></i>
</div>

<div *ngIf="message==1">
  <h1 mat-dialog-title>Informations</h1>
  <div mat-dialog-content>
    <mat-divider></mat-divider>
    <br>
    <p>{{ student.firstname }} {{ student.lastname }}</p>
    <span *ngIf = "status" class="tag is-success is-large" >IN</span>
    <span *ngIf = "!status" class="tag is-danger is-large" >OUT</span>
    <mat-divider></mat-divider>
    <canvas id="canvas" width="800" height="350"></canvas>
    <mat-divider></mat-divider>
    <p> Temps effectué: {{ student.elapsedTime }} </p>
    <p>{{ meal? "Vous avez déjà mangé" : "Vous n'avez pas encore mangé"}}</p>
    <p>{{ breather? "Vous avez pris une pause" : "Vous n'avez pas pris de pause"}}</p>

  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="button is-info has-text-white">Ok</button>
  </div>
</div>
