<h1 mat-dialog-title>Informations</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <br>
  <p>Olivier D'Ancona</p>
  <span class="tag is-danger is-large" >OUT</span>
  <mat-divider></mat-divider>
  <canvas id="canvas" width="800" height="350"></canvas>
  <mat-divider></mat-divider>
  <p> Temps effectué: 04:37 </p>
  <p> Vous n'avez pas pris votre pause. </p>
  <p> Vous avez mangé. </p>

</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="button is-info has-text-white">Ok</button>
</div>
