<h1 mat-dialog-title>Informations</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <br>
  <p>{{ student.firstname }} {{ student.lastname }}</p>
  <span *ngIf = "!student.status" class="tag is-danger is-large" >OUT</span>
  <span *ngIf = "student.status" class="tag is-success is-large" >IN</span>
  <mat-divider></mat-divider>
  <canvas id="canvas" width="800" height="350"></canvas>
  <mat-divider></mat-divider>
  <p> Temps effectué: {{ student.elapsedTime }} </p>


</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="button is-info has-text-white">Ok</button>
</div>
