<div class="login-box">
  <h1 class="title">Mot de passe</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <h2> Nouveau mot de passe </h2>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input has-background-light has-text-grey" type="password" placeholder="New Password" formControlName="newPassword">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <h2> Confirmez le nouveau mot de passe </h2>
      <p class="control has-icons-left">
        <input class="input has-background-light has-text-grey" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field is-pulled-right">
      <p class="control">
        <button class="button is-success " type="submit" [disabled]="!changePasswordForm.valid">
          <i class="fas fa-sign-in-alt"></i>
        </button>
      </p>
    </div>
  </form>
</div>

<div class="timeplan">
  <h1 class="title"> Horaire </h1>
  <p>Définissez un horaire</p>
  <mat-form-field appearance='outline'>
    <mat-select>
      <mat-option *ngFor="let tp of timeplan" [value]="tp">
        {{tp}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="interface">
  <h1 class="title"> Interface </h1>
  <p>Choissisez les options</p>
  <mat-slide-toggle>Option 1</mat-slide-toggle><br>
  <mat-slide-toggle>Option 2</mat-slide-toggle><br>
  <mat-slide-toggle>Option 3</mat-slide-toggle><br>
  <mat-slide-toggle>Option 4</mat-slide-toggle><br>
  <mat-slide-toggle>Option 5</mat-slide-toggle><br>
  <mat-slide-toggle>Option 6</mat-slide-toggle><br>
</div>

<h1 class="title"> Administrateurs </h1>
